<!--not logged in-->
<ion-content padding *ngIf="!profile">
    <ion-grid style="height: 100%;">
        <ion-row center style="height: 100%;">
            <ion-col>
                <button (click)="login()" block class="btn-facebook"> Login with
                    <ion-icon name="logo-facebook"></ion-icon></button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content padding *ngIf="profile">
    <h3>Profile</h3>
    <ion-list no-lines>
        <!--static info from provider-->
        <ion-item>
            <ion-avatar item-left>
                <img src="{{(backend.auth() | async )?.auth.photoURL}}">
            </ion-avatar>
            <h2>{{(backend.auth() | async )?.auth.displayName}}</h2>
            <p>{{(backend.auth() | async )?.auth.email}}</p>
        </ion-item>

        <!--already selected section -> change it -->
        <ion-item *ngIf="(profile| async)?.section_uid && !edit">
            <p>Section: {{section?.sectionname}}</p>
            <button small (click)="edit = true">Change section</button>
        </ion-item>
        <ion-item *ngIf="!(profile| async)?.section_uid || edit">
            <p>What section are you part of?</p>
            <section-selector [display]="'sectionname'" (onSectionSelected)="sectionSelected($event)"></section-selector>
        </ion-item>
        <ion-item>
            <button small danger (click)="logout()">Logout</button>
        </ion-item>
    </ion-list>


</ion-content>
