<ion-card>
    <ion-item>
        <ion-avatar item-left>
            <img src="{{(creator | async )?.photoURL}}">
        </ion-avatar>
        <h2>{{post.creator_name}}</h2>


    </ion-item>

    <ion-card-content>
        <p><span>City: </span>
            <span class="bold">{{post.details.location}}</span>
        </p>
        <p><span>Dates: </span>
            <span class="bold">{{post.details.stay_start}} until {{post.details.stay_end}}</span>
        </p>
        <br>
        <p>{{post.text}}</p>
    </ion-card-content>

    <ion-row>
        <ion-col>
            <button primary clear small (click)="visible = visible=='comments' ? '' : 'comments'">
                <ion-icon name="text"></ion-icon>
                <div>{{(comments | async)?.length}} Comments</div>
            </button>
        </ion-col>
        <ion-col *ngIf="auth | async">
            <button primary clear small (click)="visible = visible=='reply' ? '' : 'reply'">
                <ion-icon name="undo"></ion-icon>
                <div>Reply</div>
            </button>
        </ion-col>
        <ion-col center text-center>
            <ion-note>
                {{post.timestamp | amTimeAgo }}
            </ion-note>
        </ion-col>
    </ion-row>

    <post-reply [postId]="post.$key" *ngIf="visible=='reply'"></post-reply>

    <!--comments list-->
    <div *ngIf="visible=='comments'">
        <post-comment *ngFor="let comment of (comments | async) | reverse"
                      [comment]="comment"></post-comment>
    </div>


</ion-card>
