<ion-card>
    <ion-item>
        <ion-avatar item-left>
            <img src="img/marty-avatar.png">
        </ion-avatar>
        <h2>{{post.creator_name}}</h2>

    </ion-item>

    <img src="img/advance-card-bttf.png">

    <ion-card-content>
        <p>{{post.text}}</p>
    </ion-card-content>

    <ion-row>
        <ion-col>
            <button primary clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>12 Likes</div>
            </button>
        </ion-col>
        <ion-col>
            <button primary clear small>
                <ion-icon name="text"></ion-icon>
                <div>4 Comments</div>
            </button>
        </ion-col>
        <ion-col center text-center>
            <ion-note>
                11h ago
            </ion-note>
        </ion-col>
    </ion-row>

</ion-card>
