<ion-card>
    <ion-item>
        <ion-avatar item-left>
            <div *ngFor="let usr of creator | async ">
                <img src="{{usr.photoURL}}">
            </div>

        </ion-avatar>
        <h2>{{post.creator_name}}</h2>

    </ion-item>

    <ion-card-content>
        <p>{{post.text}}</p>
    </ion-card-content>

    <ion-row>
        <ion-col>
            <button primary clear small>
                <ion-icon name="text"></ion-icon>
                <div>{{post.comments.length}} Comments</div>
            </button>
        </ion-col>
        <ion-col center text-center>
            <ion-note>
                {{ (post.timestamp | amFromUnix) | amTimeAgo }}
            </ion-note>
        </ion-col>
    </ion-row>

</ion-card>
